.ipynb_checkpoints

/SQL_CONNECTION.ipynb
*.ipnyb
01.Data Mining/.ipynb_checkpoints
02.Data preprocessing - stage 1/ipynb_checkpoints
03.Data preprocessing - stage 2/ipynb_checkpoints
04.Product qualification for models/ipynb_checkpoints
04.Product qualification for models
04.Verification of processed data/ipynb_checkpoints
05.Building models//ipynb_checkpoints
04.Building models/ipynb_checkpoints
06.Summary of model results/ipynb_checkpoints
07.Testing models results with monthly data/ipynb_checkpoints
05.Models
ProductQualification
Workflow
01.Data Mining/model_Panel_Check.sql

